/*.col {
  background-color: red !important;
}*/

body {
  font-family: 'Quicksand', sans-serif;
}
.container{
    width: 90% !important;
}

.app-tools{
  padding: 10px;
}

h4 {
  font-family: 'Arvo', serif;

}

.header-div {
  display:inline-block !important;
}
