body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.container{
    width: 90vw !important;
}

/*Header*/

h4 {
  font-family: 'Arvo', serif;
}

/*Content*/

main {
  /*height: 70%;*/
  overflow:none;
  flex: 1 0 auto;
}

.writing-card{
  min-height: 100%;
  overflow:none;
}

.userInputBox {
  border: 1px solid #b2dfdb;
	padding: 5px;
  font-family: 'Quicksand', sans-serif;
  height: 50vh;
  max-width: 100%;
}

/*Media Queries*/

@media (max-width: 992px) {
  .userInputBox {
    height: 10vh !important;
  }
}
